
/* mobile first decorations */
section {
    /*set the position to relative, to make everything on it absolute.*/
    position: relative; 
    margin: 20px; 
    padding: 10px;

    /*slightly transparent card*/
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    /*no difference on x, moved below 2 pixels, and blur radius of 4*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

picture {
    /*relative, so that the text above it can be absolute*/
    position: relative; 
    /*take up full width of parent container */
    display: block;
}

picture img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}


.textChunkOverlay {
    max-width: 80%;
    /*absolute so that it adapts to parent container*/
    position: absolute; 
    bottom: 10px; 
    left: 10px;
}

/*the links*/
.textChunkOverlay a {
    color: #f1f1f1; 
    text-decoration: underline;
}

.textChunk {
    /*position*/
    position: relative; 
    margin-left: 10px; 

    /*text styling*/
    color: #ebebeb;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.791); 
    font-weight: 500;
    font-size: 16px; 

    /*readability*/
    line-height: 2.0; 
    background: none; 
}


/* Medium Screen */
@media screen and (min-width: 400px) {
    /* gets padding */
    section {
        margin: 50px 0; 
        padding: 20px;
    }

    /*Style text*/
    .textChunkOverlay {
        bottom: 20px; 
        left: 20px;
        padding: 10px;
    }
    
}

.textChunk a {
    color: #ffffff;
    font-family: cursive;
}

.textChunk a:hover {
    color: #e2e2e2;
    text-shadow: -4px 3px 0px #ffffff38,
                 3px 2px 0px #6973d175,
                 -3px -3px 0px #2719ecb5;
}

@media screen and (min-width: 600px) {
    .textChunkOverlay {
        max-width: 50%;
    }
    .textChunk {
        font-size: 14px;
        
    }
}

@media screen and (min-width: 900px) {
    .textChunkOverlay {
        max-width: 40%;
    }
    .textChunk {
        bottom: 80px; 
        left: 20px;
        font-size: 18px;
        line-height: 1.8;
    }
}